@model WeRentCar123.Models.VehicleModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VehicleModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleModelName" class="control-label"></label>
                <input asp-for="VehicleModelName" class="form-control" />
                <span asp-validation-for="VehicleModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleModelDescription" class="control-label"></label>
                <input asp-for="VehicleModelDescription" class="form-control" />
                <span asp-validation-for="VehicleModelDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleBrandID" class="control-label"></label>
                <select asp-for="VehicleBrandID" class ="form-control" asp-items="ViewBag.VehicleBrandID"></select>
            </div>
            <div class="form-group">
                <label asp-for="VehicleModelYear" class="control-label"></label>
                <input asp-for="VehicleModelYear" class="form-control" />
                <span asp-validation-for="VehicleModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecommendedRentalDailyPrice" class="control-label"></label>
                <input asp-for="RecommendedRentalDailyPrice" class="form-control" />
                <span asp-validation-for="RecommendedRentalDailyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
