
@{
    ViewData["Title"] = "Sales Report";
}
<h3>Sales Report</h3>

<div id="SalesReportTable"></div>

@*<table id="SalesReportTable"
           style="width: 100%;" class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">

        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Cars Rented
                </th>
                <th>
                    Income
                </th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.carsRented
                    </td>
                    <td>
                        @String.Format("{0:C}",item.income)
                    </td>
                </tr>
            }

        </tbody>
    </table>*@
<script type="text/javascript">
    $(() => {
        const TABLE_WITH_FILTER = $('#SalesReportTable').WeRentCar123TableFilter({
            url: '/Report/GetReport'
        });

        TABLE_WITH_FILTER.Fetch();
    });
</script>