@model WeRentCar123.Models.VehicleBrand

@{
    ViewData["Title"] = "Edit";
}

    <h1>Edit Vehicle Brand</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VehicleBrandID" />
            <div class="form-group">
                <label asp-for="VehicleBrandName" class="control-label"></label>
                <input asp-for="VehicleBrandName" class="form-control" />
                <span asp-validation-for="VehicleBrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleBrandDescription" class="control-label"></label>
                <input asp-for="VehicleBrandDescription" class="form-control" />
                <span asp-validation-for="VehicleBrandDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleBrandIntroductionDate" class="control-label"></label>
                <input asp-for="VehicleBrandIntroductionDate" class="form-control" />
                <span asp-validation-for="VehicleBrandIntroductionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
