@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <div class="row">

    </div>
    <div class="row">
        <a class="card card-1" href="~/VehicleBrands">
            <h3>Brands</h3><br />
            <img class="dash_icon" src="~/images/toyota.svg" />
        </a>

        <a class="card card-1" href="~/VehicleModels">
            <h3>Models</h3><br />
            <img class="dash_icon" src="~/images/hatchback.svg" />
        </a>  
        <a class="card card-1" href="~/Vehicles">
            <h3>Vehicles</h3><br />
            <img class="dash_icon" src="~/images/car.svg" />
        </a>
    </div>
    <div class="row">
        <a class="card card-1" href="~/VehicleRentalClients">
            <h3>Clients</h3><br />
            <img class="dash_icon" src="~/images/customer.svg" />
        </a>
        <a class="card card-1" href="~/VehicleRentals">
            <h3>Car Rental</h3><br />
            <img class="dash_icon" src="~/images/rent.svg" />
        </a>
        <a class="card card-1" href="~/Report">
            <h3>Report</h3><br />
            <img class="dash_icon" src="~/images/graph.svg" />
        </a>
    </div>
</div>
